<% if current_user != user %>
        <% if user.followed_by?(current_user) %>
            <%=link_to user_relationships_path(user), method: :delete, remote:true do %>
              <p class="fff"><button type="button" class="btn btn-success">フォロー中</button></p>
            <% end %>
        <% else %>
            <%=link_to user_relationships_path(user), method: :post, remote:true do %>

            <p class="fff"><button type="button" class="btn btn-info">フォローする</button></p>
            <% end %>
        <% end %>
    <% end %>
