<h1>Users#followers</h1>
<p>Find me in app/views/users/followers.html.erb</p>
<% if @user.passive_relationships.count == 0 %>
<p>ユーザーがいません</p>
<% else %>

  <p><%= @user.passive_relationships.count %>人</p>
<% @users.each do |user| %>
  <hr>
  <p><span>name: </span><%= link_to user.name, user_path(user.id) %></p>

      <%= render "users/follow_form", user: user %>

<% end %>
<% end %>