<h1>Users#follows</h1>

  <p><%= @user.active_relationships.count %>人</p>
<% if @user.active_relationships.count == 0 %>
<p>ユーザーがいません</p>
<% else %>

<% @users.each do |user| %>
  <hr>
    <p><span>name: </span><%= link_to user.name, user_path(user.id) %></p>

    <%= render "users/follow_form", user: user %>

<% end %>
<% end %>