<div class="container follow-fix">
  <div class="row">
    <div class="col-xs-2"></div>
    <div class="col-xs-8">
  	  <h1 class="follower-title">フォロー中</h1>

        <% if @user.active_relationships.count == 0 %>
          <p class="nouser">ユーザーがいません</p>
        <% else %>

        <table class="table">
          <% @users.each do |user| %>
          <tr>
            <td class="col-xs-2">
              <%= attachment_image_tag user, :profile_image, :fill, 40, 40, format: 'jpeg', class: "img-circle profile-img", fallback: "no_image.jpg", size:'40x40' %>
            </td>
            <td class="col-xs-2">
              <%= link_to user.name, user_path(user.id), class: "linkto" %>
            </td>
            <td class="col-xs-7">
              <p class="intt"><%= cut_off( user.introduction , 15) %></p>
            </td>
            <td class="col-xs-1">
              <%= render "users/follow_form", user: user %>
            </td>
          </tr>
          <% end %>
        </table>
          <% end %>
    </div>
    <div class="col-xs-2"></div>
  </div>
</div>