

<%= month_calendar events: @day_weights do |date, weights| %>
  <%= date.day %>
  <% @day_weights.each do |training| %>
    <% if date.day == training.start_time.day %>
    <% if date.month == training.start_time.month %>
    <% if date.year == training.start_time.year %>

    <div>
      <p><%= training.weight %>kg</p>
    </div>
    <% end %>
    <% end %>
    <% end %>
  <% end %>
<% end %>

<%= line_chart @day_weights.chart_date,xtitle: "日付", ytitle: "体重(kg)", width: "600px", height: "200px" %>