<div class="container">
  <div class="row">
  	<div class="col-md-6 col-xs-12 about">
  	  <div class="about_title about-text">About</div>
  	</div>
  	<div class="col-md-6 col-xs-12 about">
      <div class="about_content">
      	<p>家族や友人と一緒にいること。みんなが健康で、そこに温かい笑顔があること。それこそが人間の本当の幸せではないでしょうか。<br>
      	　このサイトは、健康的な理想の体型を手に入れるためにダイエットやトレーニングを頑張る人たち同士で情報を交換できる場を設けたいと思い作りました。<br>
        　また、コロナ禍で変化する食生活、運動不足の解消のためにも、このサイトを通して励ましあいながらみんなが健康的な体型を手に入れることが出来たら嬉しいです。</p>
      </div>
  	</div>
  </div>


  <div class="row">
  </div>
</div>