<div class="box">
<div class="contents">text</div>
<ul class="cp_snslink01">
<li class="cp_link facebook"><a href="#"><i class="fab fa-facebook-f"></i>
<div class="nav-label"><span>facebook Button</span></div></a>
</li>
<li class="cp_link twitter"><a href="#"><i class="fab fa-twitter"></i>
<div class="nav-label"><span>twitter Button</span></div></a>
</li>
<li class="cp_link google"><a href="#"><i class="fab fa-google-plus-g"></i>
<div class="nav-label"><span>google+ Button</span></div></a>
</li>
<li class="cp_link instagram"><a href="#"><i class="fab fa-instagram"></i>
<div class="nav-label"><span>instagram Button</span></div></a>
</li>
</ul>

<div class="top">
<div class="words words-1">
  <span>W</span>
  <span>E</span>
  <span>L</span>
  <span>C</span>
  <span>O</span>
  <span>M</span>
  <span>E</span>

</div>
<div class="words words-1">
  <span>S</span>
  <span>H</span>
  <span>A</span>
  <span>R</span>
  <span>E</span>
</div>
<div class="words words-1">
  <span>H</span>
  <span>E</span>
  <span>A</span>
  <span>L</span>
  <span>T</span>
  <span>H</span>
  <span>Y</span>

</div>
</div>
</div>