

<div>
	<ul class="genre_box">
	<li class="genre_box_title">Category</li>

<% genres.each do |genre| %>
  <li class="genre_box_content"><span style="background-color:#ffcc99"><%=link_to genre.name, search_posts_path(genre.id), method: :get, class: "link" %></span></li>
<% end %>

</ul>
</div>

