<div class ="container">
  <div class ="row">
    <div class="index_back select_index">
      <div class="col-xs-offset-2 col-md-offset-3">
        <div>
          <% if @selection == "new" %>
            <h1 class="select-title">投稿が新しい順</h1>
          <% elsif @selection == "old" %>
            <h1 class="select-title">投稿が古い順</h1>
          <% elsif @selection == "likes" %>
            <h1 class="select-title">いいねが多い順</h1>
          <% elsif @selection == "minilikes" %>
            <h1 class="select-title">いいねが少ない順</h1>
          <% end %>
        </div>
        <%= render "posts/post", posts: @select_posts %>
      </div>
    </div>
  </div>
</div>