/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require simple_calendar
 */
@import "bootstrap-sprockets";
@import "bootstrap";
@import 'font-awesome-sprockets';
@import 'font-awesome';
@import "froala_editor.min";
@import "froala_style.min";
@import 'plugins/char_counter.min.css';
@import 'plugins/code_view.min.css';
@import 'plugins/colors.min.css';
@import 'plugins/emoticons.min.css';
@import 'plugins/file.min.css';
@import 'plugins/fullscreen.min.css';
@import 'plugins/image_manager.min.css';
@import 'plugins/image.min.css';
@import 'plugins/line_breaker.min.css';
@import 'plugins/quick_insert.min.css';
@import 'plugins/table.min.css';
@import 'plugins/video.min.css';

* { margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
  background-color: #EEEEEE;
}

// header {
//   background-color: #0099FF;
//   height: 70px;
//   position: fixed;
//   width: 100%;
//   margin: 0px;
//   padding: 4px 4px 4px 0px;
//   z-index:9999;
//   text-align: center;
// }

#header {
  background: #fff;
  display: flex;
  flex-flow: row wrap;
  padding: 15px 20px;
}
#header h1 {
  margin-right: auto;
}
#header #navi {
  margin-top: 10px;
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  list-style: none;
}
#header #navi li {
  margin: 0 15px;
  line-height: 100%;
}
#header #navi li a {
  color: #000;
  text-decoration: none;
}
/*PCメニュー*/
/*SPメニュー*/
@media screen and (max-width: 768px) {
  /* bager menu */
  #header #navi {
    transition: all 0.6s;
    overflow-y: auto;
    padding-top: 40px;
    width: 300px;
    height: 100vh;
    z-index: 200;
    top: 0;
    right: -320px;
    background-color: #fff;
    position: fixed;
    flex-direction: column;
    align-items: baseline;
  }
  #header #navi li {
    padding: 10px;
  }
  #header .nav_btn {
    width: 44px;
    height: 44px;
    z-index: 300;
    top: 7px;
    right: 7px;
    cursor: pointer;
    position: absolute;
  }
  .hamburger_line {
    transition: all 0.6s;
    width: 34px;
    height: 2px;
    left: 5px;
    background-color: #000;
    position: absolute;
  }
  .hamburger_line1 {
    top: 10px;
  }
  .hamburger_line2 {
    top: 21px;
  }
  .hamburger_line3 {
    top: 32px;
  }
  .nav_bg {
    opacity: 0;
    transition: all 0.6s;
    width: 100vw;
    height: 100vh;
    z-index: 100;
    top: 0;
    left: 0;
    visibility: hidden;
    background-color: #000;
    cursor: pointer;
    position: fixed;
  }
  /* 表示された時用のCSS */
  .nav_open #header #navi {
    right: 0;
  }
  .nav_open .nav_bg {
    opacity: 0.8;
    visibility: visible;
  }
  .nav_open .hamburger_line1 {
    transform: rotate(45deg);
    top: 20px;
  }
  .nav_open .hamburger_line2 {
    width: 0;
    left: 50%;
  }
  .nav_open .hamburger_line3 {
    transform: rotate(-45deg);
    top: 20px;
  }
}
// about-----------------------------------

.about {
  height: 300px;
}
.about_title {
  font-size: 60px;
  text-align: center;
  margin-top: 112px;
}

.about_content {
  margin-top: 100px;
}

@keyframes typing { from { width: 0; } }
@keyframes caret { 50% { border-color: transparent; } }

.about-text {
font-family: monospace;
width: 11ch;
border-right: .08em solid;
overflow: hidden;
font-size: 4em;
white-space: nowrap;
animation: typing 9s steps(11, end);
}
// 複数適用
.header_fix {
  padding-top: 70px;
}

// kaminari -----------------------------

.pagination{
  margin: auto;
  width: 50%;
  display: flex;
  justify-content: flex-start;
}
.pagination span{
  background-color: #fff;
  text-align: center;
  width: 50px;
  border: solid 1px #CCCCCC;
  color: #0066FF;
  transition: .3s;
  -webkit-transform: scale(1);
  transform: scale(1);
}
.pagination span:hover{
  transition: .3s;
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}
.pagination span a:hover{
  transition: .3s;
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}



// 投稿詳細ページ(posts/show)

.detail_box {
  margin-top: 20px;
  background-color: #ffffff
}

.detail_box_in {
  padding: 30px;
}

.detail_box_user {
  margin-bottom: 30px;
}

.comment_box {
  margin: 50px 0;
  background-color: #ffffff
}

.comment_box_in {
  padding: 50px;
}

#comments_area {
  margin-top: 30px;
}

.fixed_btn
{
  position: fixed;
  bottom: 200px;
  right: 30px;
  padding: 6px 40px;
}

.heart_btn {
  font-size: 30px;
}

.like_btn {
  padding-right: 8px;
}

.like_responsive {
  display: none;
}
// post/fovorite

.fovorite_box {
  padding: 80px;
  margin-bottom: 50px;
 }
.fovorite_title {
  margin-bottom: 65px;
}

.chartkick {
  width: 500px;
  height: 400px;
}


// ------------------------------------------------

.nav-list-item {
  float: right;
  width: 120px;
  line-height: 70px;
  list-style: none;
  text-decoration: none;
  font-size: 16px;
  margin: 0 30px;
  color: brack;
}

// ------------------------top-----------------------------

// @import 'https://fonts.googleapis.com/css?family=Rubik+Mono+One';

.picture{
  background-image: image-url("tutui.jpg");
  background-size: cover;
  height: 800px
}
.top {
  height: 800px;
  width: 100%;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  // background: #ffffff;
  background-image: image-url("tutui.jpg");
  background-size: cover;
  overflow: hidden;
  font-family: 'Rubik Mono One', sans-serif;
}


.words {
  color: black;
  // color: #99E1E0;
  // ↓0だったけど変えた。
  font-size: 150px;
  line-height: 1;
  span {
    font-size: 130px;
    display: inline-block;
    // animation: move 4s ease-in-out infinite;
    // &:nth-child(2) { animation-delay: 0.4s; }
    // &:nth-child(3) { animation-delay: 0.8s; }
    // &:nth-child(4) { animation-delay: 1.2s; }
  }
}


// マイページ(users/show)--------------------------------------------------

.mypage_box{
  margin: 100px 0;
  background-color: #fff;
}

.profile_box {
  margin: 30px 0 0 70px;
}
.profile_name {
  font-size: 40px
}

.btn_table {
  padding-left: 50px;
}
.users_post_box {
  margin-top: 20px;
}

.chart_box {
  margin-top: 60px;
}

.record_btn {
  text-align: center;
  margin-bottom: 30px;
}

.post_index {
  display: inline-block;
}

.profile_follow {
  list-style: none;
}
.profile_follow_li {
  display: inline-block;
  margin-left: 10px;
  text-align: center;
}
.genre_btn {
  font-size: 3px;
}

.user_post_kaminari {
  margin-bottom: 20px;
}

.new {
  list-style: none;
  font-size: 30px;
}
.new_post {
  display: inline-block;
  font-size: 15px;
  margin-left: 50px;
}

.favorite_post {
  display: inline-block;
  font-size: 15px;
}

.edit_btn {
  font-size: 50px;
  position: fixed;
  bottom: 40px;
  right: 20px;
  padding: 6px 40px;
}

.chartkick {
  width: 500px;
  height: 400px;
  color: #ff69b4;
}

.profile-weight {
  padding-top: 85px;
}

.update-btn {
  text-align: right;
  padding-right: 90px;
}

@media screen and (max-width:992px) {
  .profile-weight {
    display: none;
  }
}

// 記録ページ----------------------------------------------------------

.dayrecord-box {
  background-color: #fff;
  margin: 45px;
  padding: 20px;
}
// footer------------------------------------------------------------

footer {
  height: 250px;
  background-color: #444444;
}

.footer_box {
  padding: 50px 0 50px 200px;
  color: #fff;
}

.footer_box_title {
  font-size: 50px;
}

//  day_records/new-----------day_weight/new-----------------------------

.day_record_box_title {
  padding: 50px;
}

.form_record_back {
  background-color: #fff;
  height: 550px;
  margin: 50px 0;
}

.day_weight {
  background-color: #fff;
  height: 300px;
  margin: 120px 70px 70px 70px;
  padding: 30px 0 0 50px;
}

.record-box {
  margin-bottom: 20px;
}


// top-------social
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
.box {
  /*設置する親要素ページ全体ならbodyなど*/
  position: relative;
  margin: 0;
  padding: 0;
}

.cp_snslink01 {
  position: fixed;
  top: 50%;
  left: 0;
  margin: 0;
  padding: 0;
  list-style-type: none;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}
.cp_snslink01 .cp_link {
  position: relative;
}
.cp_snslink01 .cp_link {
  display: block;
  width: 60px;
  height: 60px;
  padding: 15px 10px;
  cursor: pointer;
}
.cp_snslink01 .cp_link .nav-label {
  line-height: 64px;
  position: absolute;
  z-index: 4;
  top: 0rem;
  display: block;
  height: 60px;
  margin-left: 50px;
  padding: 0 20px;
  white-space: nowrap;
}
.cp_snslink01 .cp_link,
.cp_snslink01 .cp_link a,
.cp_snslink01 .cp_link:hover,
.cp_snslink01 .cp_link .nav-label {
  color: #ffffff;
}
/*facebook*/
.cp_snslink01 .facebook,
.cp_snslink01 .facebook:hover,
.cp_snslink01 .facebook:hover .nav-label {
  background: #3b5998;
}
.cp_snslink01 .facebook .nav-label {
  background: #1e2e4f;
}
/*twitter*/
.cp_snslink01 .twitter,
.cp_snslink01 .twitter:hover,
.cp_snslink01 .twitter:hover .nav-label {
  background: #55acee;
}
.cp_snslink01 .twitter .nav-label {
  background: #0065d9;
}
/*google+*/
.cp_snslink01 .google,
.cp_snslink01 .google:hover,
.cp_snslink01 .google:hover .nav-label {
  background: #dd4b39;
}
.cp_snslink01 .google .nav-label {
  background: #af0606;
}
/*instagram*/
.cp_snslink01 .instagram,
.cp_snslink01 .instagram:hover,
.cp_snslink01 .instagram:hover .nav-label {
  background: radial-gradient(circle at 0% 90%, #fdf498 0%, #fd5948 5%, #d6249d 45%,#285aea 60%,#285aea 90%);
}
/* effect */
.cp_snslink01 .cp_link.nav-label, .cp_snslink01 .cp_link.cp_link:hover .nav-label {
  -webkit-transition: -webkit-transform 0.4s ease, background 0.4s ease;
          transition:         transform 0.4s ease, background 0.4s ease 0.1s;
  -webkit-transition-delay: 0s, 0.1s;
}
.cp_snslink01 .cp_link.cp_link .nav-label {
  -webkit-transition: -webkit-transform 0.4s ease;
          transition:         transform 0.4s ease;
  -webkit-transform: rotateY(-90deg);
          transform: rotateY(-90deg);
  -webkit-transform-origin: left 50%;
          transform-origin: left 50%;
}
.cp_snslink01 .cp_link.cp_link:hover .nav-label {
  -webkit-transform: rotateY(0);
          transform: rotateY(0);
}

// 投稿一覧---------------------------------------------------


.searchbox {
  height: 95px;
  padding-top: 10px;
}

.genrebar {
  width: 250px;
  margin-left: 20px;
}

.like_in_table {
  padding-left: 380px;
  color: #808080;
}

.comments_in_table {
  display: inline-block;
}

.genre_box {
  list-style: none;
}

.genre_box_title {
  display: inline-block;
  font-size: 20px;
  margin-left: 50px;
}

.genre_box_content {
  display: inline-block;
  font-size: 15px;
  margin-left: 20px;
}

.index_back {
  background-color: #fff;
  // margin: 25px 100px 0 140px;
}

.index_back_box {
   padding-top: 50px;
   margin-bottom: 90px;
}

.tag_box {
  padding: auto;
}


// chatroom
.mychat {
  padding-left: 600px;
}
.message_form {
  margin-top: 30px;
}
.chat-face {
  height: 10px;
}

.chatroom-box {
  background-color: #fff;
  margin-bottom: 85px;
}

.chatroom-box-title {
  padding: 30px 0 0 60px;
}

.chat-box {
  padding-left: 60px;
}

// ---------------------------------------------------------
.index_table {
  width: 550px;
}

.genre_responsive {
  display: none;
}

.nav-list-item-sp {
  display: none;
}

.header-top {
  padding-left: 30px;
}


// フォロー ---------------------------------------------------

.follower-title {
  font-size: 20px;
}


//------------------------------------------------------------

@media screen and (max-width:1024px) {

  .nav-list-item {
  float: right;
  width: 120px;
  line-height: 70px;
  list-style: none;
  font-size: 15px;
  margin: 0 16px;
  color: #fff;
}


}
/* タブレット縦置きサイズ（768px）以下の際に適用される設定 */
@media screen and (max-width:768px) {
  #header {
    background-color: green;
  }

  .like_in_table {
  padding-left: 260px;
  color: #808080;
}

.comments_in_table {
  display: inline-block;
}

.index_table {
  width: 350px;
}

.genrebar {
  width: 250px;
  margin-left: 20px;
}

.sticky {
  position: -webkit-sticky;
  position: sticky;
  top: 100px;
}


.edit_btn {
  display:none;
}

.genrebar {
  display:none;
}

.genre_responsive {
  margin-left: 30px;
  display: block;
}

.fixed_btn {
  display: none;
}

.heart_btn {
  font-size: 15px;
}
.like_responsive {
  display: block;
}

.like_side {
  display: inline-block;
}

}

@media screen and (max-width:425px) {
  #header {
    background-color: red;
}
.index_table {
  width: 300px;
}
.like_in_table {
  padding-left: 150px;
  color: #808080;
}

}





// ヘッダー--------------------------------------------------

.header_title {
  font-size: 17px;
}

 nav {
  margin-top: 10px;
 }

#header {
  background: orange;
  display: flex;
  flex-flow: row wrap;
  padding: 20px 30px;
}
#header h1 {
  margin-right: auto;
}
#header #navi {
  margin-top: 10px;
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  list-style: none;
}
#header #navi li {
  margin: 0 15px;
  line-height: 100%;
}
#header #navi li a {
  color: #000;
  text-decoration: none;
}
/*PCメニュー*/
/*SPメニュー*/

@media screen and (max-width: 950px) {
  /* bager menu */
  #header #navi {
    transition: all 0.6s;
    overflow-y: auto;
    padding-top: 40px;
    width: 300px;
    height: 100vh;
    z-index: 200;
    top: 0;
    right: -320px;
    background-color: #fff;
    position: fixed;
    flex-direction: column;
    align-items: baseline;
  }
  #header #navi li {
    padding: 10px;
  }
  #header .nav_btn {
    width: 44px;
    height: 44px;
    z-index: 300;
    top: 7px;
    right: 7px;
    cursor: pointer;
    position: absolute;
  }
  .hamburger_line {
    transition: all 0.6s;
    width: 34px;
    height: 2px;
    left: 5px;
    background-color: #000;
    position: absolute;
  }
  .hamburger_line1 {
    top: 10px;
  }
  .hamburger_line2 {
    top: 21px;
  }
  .hamburger_line3 {
    top: 32px;
  }
  .nav_bg {
    opacity: 0;
    transition: all 0.6s;
    width: 100vw;
    height: 100vh;
    z-index: 100;
    top: 0;
    left: 0;
    visibility: hidden;
    background-color: #000;
    cursor: pointer;
    position: fixed;
  }
  /* 表示された時用のCSS */
  .nav_open #header #navi {
    right: 0;
  }
  .nav_open .nav_bg {
    opacity: 0.8;
    visibility: visible;
  }
  .nav_open .hamburger_line1 {
    transform: rotate(45deg);
    top: 20px;
  }
  .nav_open .hamburger_line2 {
    width: 0;
    left: 50%;
  }
  .nav_open .hamburger_line3 {
    transform: rotate(-45deg);
    top: 20px;
  }

  .nav-list-item-sp {
  display: block;
}

 }


