/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require simple_calendar
 */
@import "bootstrap-sprockets";
@import "bootstrap";
@import 'font-awesome-sprockets';
@import 'font-awesome';
@import "froala_editor.min";
@import "froala_style.min";
@import 'plugins/char_counter.min.css';
@import 'plugins/code_view.min.css';
@import 'plugins/colors.min.css';
@import 'plugins/emoticons.min.css';
@import 'plugins/file.min.css';
@import 'plugins/fullscreen.min.css';
@import 'plugins/image_manager.min.css';
@import 'plugins/image.min.css';
@import 'plugins/line_breaker.min.css';
@import 'plugins/quick_insert.min.css';
@import 'plugins/table.min.css';
@import 'plugins/video.min.css';

* { margin: 0;
　padding: 0;
　box-sizing: border-box;
}

body {
  background-color: #EEEEEE;
}

header {
  background-color: #0099FF;
  height: 70px;
  position: fixed;
  width: 100%;
  margin:0;
  padding:4px;
  z-index:9999;
}

.header_fix {
  padding-top: 70px;
}



// 投稿詳細ページ(posts/show)

.detail_box {
  margin-top: 50px;
  background-color: #ffffff
}

.detail_box_in {
  padding: 50px;
}

.detail_box_user {
  margin-bottom: 30px;
}

.comment_box {
  margin: 50px 0;
  background-color: #ffffff
}

.comment_box_in {
  padding: 50px;
}

#comments_area {
  margin-top: 30px;
}

.fixed_btn
{
  position: fixed;
  bottom: 200px; 
  right: 30px;
  padding: 6px 40px;
}

.fa-heart {
  font-size: 30px;
}

.like_btn {
  padding-right: 8px;
}

// ------------------------------------------------

.nav-list-item {
  float: right;
  width: 120px;
  line-height: 70px;
  list-style: none;
  font-size: 16px;
  margin: 0 30px;
  color: #fafafa;
}

// ----------kaminari-------------------------------
// .pagination{
//   margin: auto;
//   width: 50%;
//   display: flex;
//   justify-content: flex-start;
// }
// .pagination span{
//   background-color: rgba(158, 158, 158, 0.4);
//   text-align: center;
//   width: 50px;
//   border: solid 1px #344963;
//   color: rgb(197, 20, 159);
//   transition: .3s;
//   -webkit-transform: scale(1);
//   transform: scale(1);
// }
// .pagination span:hover{
//   transition: .3s;
//   -webkit-transform: scale(1.1);
//   transform: scale(1.1);
// }
// .pagination span a:hover{
//   transition: .3s;
//   -webkit-transform: scale(1.1);
//   transform: scale(1.1);
// }


// -----------------------------------------------------

@import 'https://fonts.googleapis.com/css?family=Rubik+Mono+One';

.top {
  height: 800px;
  width: 100%;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background: #ffffff;
  overflow: hidden;
  font-family: 'Rubik Mono One', sans-serif;
}

.words {
  color: #99E1E0;
  font-size: 0;
  line-height: 1;
  span {
    font-size: 130px;
    display: inline-block;
    animation: move 4s ease-in-out infinite;
    &:nth-child(2) { animation-delay: 0.4s; }
    &:nth-child(3) { animation-delay: 0.8s; }
    &:nth-child(4) { animation-delay: 1.3s; }
  }
}

@keyframes move {
  0% { transform: translate(-25%, 0);}
  50% { text-shadow: 0 15px 40px rgba(black, 0.6); }
  100% { transform: translate(33%, 0); }
}
// マイページ(users/show)--------------------------------------------------

.mypage_box, .day_record_box{
  margin: 120px 0;
  background-color: #fff;
}

.profile_box {
  margin: 30px 0 0 70px;
}
.profile_name {
  font-size: 40px
}

.users_post_box {
  margin-top: 20px;
}

.chart_box {
  margin-top: 60px;
}

.record_btn {
  text-align: center;
  margin-bottom: 30px;
}

.post_index {
  display: inline-block;
}

.profile_follow {
  list-style: none;
}
.profile_follow_li {
  display: inline-block;
  margin-left: 10px;
  text-align: center;
}
.genre_btn {
  font-size: 3px;
}

.user_post_kaminari {
  margin-bottom: 20px;
}

.new {
  list-style: none;
  font-size: 30px;
}
.new_post {
  display: inline-block;
  font-size: 15px;
  margin-left: 50px;
}

.edit_btn {
  font-size: 50px;
  position: fixed;
  bottom: 40px;
  right: 20px;
  padding: 6px 40px;
}
// footer------------------------------------------------------------

footer {
  height: 250px;
  background-color: #444444;
}

.footer_box {
  padding: 50px 0 50px 200px;
  color: #fff;
}

.footer_box_title {
  font-size: 50px;
}

//  day_records/new-----------day_weight/new-----------------------------

.day_record_box_title {
  padding: 50px;
}

.form_record_back {
  background-color: #fff;
  height: 550px;
  padding-top: 30px;
}

.day_weight {
  background-color: #fff;
  height: 300px;
  margin: 120px 70px 70px 70px;
  padding: 30px 0 0 50px;
}


// top-------social
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
.box {
  /*設置する親要素ページ全体ならbodyなど*/
  position: relative;
  margin: 0;
  padding: 0;
}

.cp_snslink01 {
  position: fixed;
  top: 50%;
  left: 0;
  margin: 0;
  padding: 0;
  list-style-type: none;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}
.cp_snslink01 .cp_link {
  position: relative;
}
.cp_snslink01 .cp_link {
  display: block;
  width: 60px;
  height: 60px;
  padding: 15px 10px;
  cursor: pointer;
}
.cp_snslink01 .cp_link .nav-label {
  line-height: 64px;
  position: absolute;
  z-index: 4;
  top: 0rem;
  display: block;
  height: 60px;
  margin-left: 50px;
  padding: 0 20px;
  white-space: nowrap;
}
.cp_snslink01 .cp_link,
.cp_snslink01 .cp_link a,
.cp_snslink01 .cp_link:hover,
.cp_snslink01 .cp_link .nav-label {
  color: #ffffff;
}
/*facebook*/
.cp_snslink01 .facebook,
.cp_snslink01 .facebook:hover,
.cp_snslink01 .facebook:hover .nav-label {
  background: #3b5998;
}
.cp_snslink01 .facebook .nav-label {
  background: #1e2e4f;
}
/*twitter*/
.cp_snslink01 .twitter,
.cp_snslink01 .twitter:hover,
.cp_snslink01 .twitter:hover .nav-label {
  background: #55acee;
}
.cp_snslink01 .twitter .nav-label {
  background: #0065d9;
}
/*google+*/
.cp_snslink01 .google,
.cp_snslink01 .google:hover,
.cp_snslink01 .google:hover .nav-label {
  background: #dd4b39;
}
.cp_snslink01 .google .nav-label {
  background: #af0606;
}
/*instagram*/
.cp_snslink01 .instagram,
.cp_snslink01 .instagram:hover,
.cp_snslink01 .instagram:hover .nav-label {
  background: radial-gradient(circle at 0% 90%, #fdf498 0%, #fd5948 5%, #d6249d 45%,#285aea 60%,#285aea 90%);
}
/* effect */
.cp_snslink01 .cp_link.nav-label, .cp_snslink01 .cp_link.cp_link:hover .nav-label {
  -webkit-transition: -webkit-transform 0.4s ease, background 0.4s ease;
          transition:         transform 0.4s ease, background 0.4s ease 0.1s;
  -webkit-transition-delay: 0s, 0.1s;
}
.cp_snslink01 .cp_link.cp_link .nav-label {
  -webkit-transition: -webkit-transform 0.4s ease;
          transition:         transform 0.4s ease;
  -webkit-transform: rotateY(-90deg);
          transform: rotateY(-90deg);
  -webkit-transform-origin: left 50%;
          transform-origin: left 50%;
}
.cp_snslink01 .cp_link.cp_link:hover .nav-label {
  -webkit-transform: rotateY(0);
          transform: rotateY(0);
}

// 投稿一覧---------------------------------------------------

.sticky {
  position: -webkit-sticky;
  position: sticky;
  top: 200px;
}

.genrebar {
  width: 250px;
  margin-left: 20px;
}
